<!DOCTYPE html>
<!--
http://www.thymeleaf.org: Thymleaf 네임스페이스를 정의
HTML 문서에서 Thymeleaf를 사용하기 위한 문법
-->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Hello</title>
</head>
<body>
<!-- Step 1: 웹개발자/웹디자이너/Front 개발자가 제공한 html 코드
<p>안녕하세요. 손님</p>
-->
<!-- Step 2: 백엔드 개발자가 작성하는 동적 화면
-->
<!-- th:text => 해당 html 태그의 값을 text의 값으로 치환
${data}: 탬플릿 엔진에서 전달된 모델의 "data" 속성값을 출력
-->
<p th:text="'안녕하세요. '"+${data} > 안녕하세요. 손님</p>
</body>
</html>